
<div class="banner">
    <div class="content">
        <h1>El telescopio espacial Webb de la NASA obtiene <br/>  una imagen impresionante de los pilares de la creación</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h1 class="text-center"><span class="highlight">¿Quieres saber más?</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>El telescopio espacial James Webb es el principal observatorio de ciencia espacial del mundo. </h1>
                <p><button>Click aqui para más info</button></p>
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1> Estas columnas están formadas por gas y polvo interestelar frío que,resulta transparente en la luz del infrarrojo cercano.</h1>
                <p><button>Click aqui para más info</button></p>
            </div>
        </div>
    
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Este objetivo fue fotografiado por primera vez por el Hubble en 1995 y luego en 2014,</h1>
                <p><button>Click aqui para más info</button></p>
            </div>
        </div>
    </div>
</div>
<div>
    <h1><span class="highlight">Links</span></h1>
    <div class="row">
    </div>
    <a>Links<i></i></a>
</div>